<!-- here is header .... -->
<header class="relative z-50 flex h-16 w-full items-center justify-between border-b border-gray-200 bg-white px-4 py-3 sm:px-6">
  
  <div class="flex min-w-0 items-center gap-3">
    <button (click)="toggle()" class="mr-2 rounded p-2 transition hover:bg-gray-100">
      <i class="pi pi-bars"></i>
    </button>
    <h1 class="text-lg font-bold tracking-tighter text-gray-800 sm:text-xl">F S T C</h1>
    <div class="mx-2 hidden h-6 w-[1px] bg-gray-300 md:block"></div>
    <span class="hidden border-b-2 border-dotted border-blue-400 pb-1 text-xs text-blue-500 md:block">
      
    </span>
  </div>

  <div class="flex items-center gap-4 sm:gap-6">
    <button class="text-gray-500 transition-colors hover:text-gray-700">
      <i class="pi pi-bell text-xl"></i>
    </button>
    
    <div class="flex h-9 w-9 cursor-pointer items-center justify-center rounded-full bg-purple-700 text-sm font-medium text-white sm:h-10 sm:w-10">
      AC
    </div>
    <div *ngIf="isProfileOpen" class="absolute right-0 top-12 z-50 w-48 rounded-lg border border-gray-200 bg-white py-4">
      <div class="border-b border-gray-100 px-4 py-2">
        <p class="text-sm font-semibold text-gray-800">Shivam D</p>
        <p class="text-xs text-gray-500">shivam.d.com</p>
      </div>
    </div>
  </div>
</header>