<div class="sidebar flex h-screen w-64 min-w-[16rem] flex-col overflow-y-auto border-r border-gray-200 bg-white md:w-56 md:min-w-[14rem]">

  <!-- Logo / Title -->
  <div class="p-4 text-xl font-semibold border-b text-blue-500">
    Aircraftly
  </div> 

  <!-- Menu -->
   <ul class="flex-1 p-4 space-y-2">

  <!-- Dashboard Section -->
  <li class="text-gray-500 text-xs font-semibold mt-2">
    Dashboards
  </li>

  <!-- Roster -->
  <li
    routerLink="/dashboards/roster"
    routerLinkActive="text-blue-700"
    class="flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100">

    <i class="pi pi-home"></i>
    <span class="text-sm">Roster</span>

  </li>

  <!-- FDTL -->
  <li
    routerLink="/dashboards/fdtl"
    routerLinkActive="text-blue-700"
    class="flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100">

    <i class="pi pi-home"></i>
    <span class="text-sm">FDTL</span>

  </li>

  <!-- Lead Management -->
  <li
    routerLink="/dashboards/lead-management"
    routerLinkActive="text-blue-500"
    class="flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100">

    <i class="pi pi-users"></i>
    <span class="text-sm">Lead Management</span>

  </li>

  <!-- Executive dashboard -->
  <li
    routerLink="/dashboards/executive-dashboard"
    routerLinkActive="text-blue-700"
    class="flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100">

    <i class="pi pi-book"></i>
    <span class="text-sm">Executive Dashboard</span>

  </li>
  <li class="text-gray-500 text-xs font-semibold mt-2">
    Training Program (TPM)
  </li>
  <li
    routerLink="/training program/Courses"
    routerLinkActive="bg-gray-200"
    class="flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100">

    <i class="pi pi-book"></i>
    <span class="text-sm">Courses</span>

  </li>
  <li
    routerLink="/training program/aircraft"
    routerLinkActive="bg-gray-200"
    class="flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100">

    <i class="pi pi-send"></i>
    <span class="text-sm">Aircraft</span>

  </li>

  <li class="text-gray-500 text-xs font-semibold mt-2">
    Leave 
  </li>
  <li
    routerLink="/leave/leave-management"
    routerLinkActive="bg-gray-200"
    class="flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100">

    <i class="pi pi-receipt"></i>
    <span class="text-sm">Leave Management</span>


  </li>

  <li class="text-gray-500 text-xs font-semibold mt-2">
    Users 
  </li>
  <li
    routerLink="/users/user-management"
    routerLinkActive="bg-gray-200"
    class="flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100">

    <i class="pi pi-users"></i>
    <span class="text-sm">User Management</span>


  </li>
  <li
    routerLink="/users/instructor"
    routerLinkActive="bg-gray-200"
    class="flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100">
    <i class="pi pi-instructor"></i>
    <span class="text-sm">Instructor</span>

  </li>
  <li
    routerLink="/users/students"
    routerLinkActive="bg-gray-200"
    class="flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100">
    <i class="pi pi-users"></i>
    <span>Students</span>

  </li>





</ul>

</div>

